@model IEnumerable<LexiconLMS.Core.Models.Module>

    <ul class="list-unstyled">
        @foreach (var item in Model)
        {
            <li><a class="hidden-link" asp-controller="Module" asp-action="Details" asp-route-id="@item.Id">@item.Name</a></li>
        }
    </ul>
