@model IEnumerable<LexiconLMS.Core.Models.Module>

<h5>Modules</h5>
<hr />
@{ int i = 1; }
@foreach (var item in Model)
{
        <p asp-controller="Module" asp-action="Delete" asp-route-id="@item.Id">
            @i.  <a asp-controller="Module" asp-action="Delete" asp-route-id="@item.Id"> @Html.DisplayFor(modelItem => item.Name)</a>
            @await Component.InvokeAsync("Activities", new { moduleId = item.Id })
        </p>
    i++;
    <hr />
}
