@*@model LexiconLMS.Core.Models.Course*@
@model LexiconLMS.Core.ViewModels.CourseViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Course</h4>
<hr />
<form asp-action="Edit">

    <div class="col">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Course.Id" />
        <div class="form-group">
            <label asp-for="Course.Name" class="control-label"></label>
            <input asp-for="Course.Name" class="form-control" />
            <span asp-validation-for="Course.Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Course.StartDate" class="control-label"></label>
            <input asp-for="Course.StartDate" class="form-control" />
            <span asp-validation-for="Course.StartDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Course.Description" class="control-label"></label>
            <textarea asp-for="Course.Description" class="form-control" rows="4"></textarea>
            <span asp-validation-for="Course.Description" class="text-danger"></span>
        </div>

        <div class="form-group" style="height: 55vh; overflow:auto;">
            <button type="button" id="systemUsersPopUp" class="btn btn-primary" data-toggle="modal" data-target="systemUsersModalCenter">Add Member</button>
            <br /><br />
            <h5><label asp-for="SystemUsers" class="control-label"></label></h5>
            <div id="systemusersupdate">
                @await Html.PartialAsync("_UsersForCourseEditPartial", @Model.SystemUsers)
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
        <div class="form-group">
            <!--Button trigger modal-->
            <button type="button" id="modulePopUp" class="btn btn-primary" data-toggle="modal" data-target="moduleModalCenter">Add Module</button>
            <label asp-for="Modules" class="control-label"></label>
            <div style="height: 55vh; overflow:auto;">
                @await Html.PartialAsync("_ModulesPartial", Model.Modules)
                </div>
            </div>
        </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<!--Modal-->
<div class="modal fade" id="moduleModalCenter" tabindex="-1" role="dialog" aria-labelledby="moduleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Module for @Model.Course.Name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @await Html.PartialAsync("ModuleModalPopUp", Model.Module)
            </div>

        </div>
    </div>
</div>

<!--SystemUser Modal-->
<div class="modal fade" id="systemUsersModalCenter" tabindex="-1" role="dialog" aria-labelledby="systemUsersModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLongTitle">Add Members to the course</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @await Component.InvokeAsync("GetUsersNotInCourse", new { courseId = Model.Course.Id, mainPage = false})
            </div>

        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">

</script>
<script src="bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript">

    $("#modulePopUp").click(function () {
        $("#moduleModalCenter").modal('show');
    });

    $("#btnHideModal").click(function () {
        $("#moduleModalCenter").modal('hide');
    });
    $("#systemUsersPopUp").click(function () {
        $("#systemUsersModalCenter").modal('show');
    });
</script>

