@model SystemUserViewModel
@{
    ViewData["Title"] = "Users";
}
<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>@Html.DisplayNameFor(model => model.PhoneNumber)</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        @await Component.InvokeAsync("Users")
    </tbody>
</table>