@model IEnumerable<LexiconLMS.Core.ViewModels.SystemUserViewModel>
@{
    ViewData["Title"] = "Index";
}
<h1 class="text-light bg-info border rounded-lg p-3">@ViewData["Title"]</h1>

<form class="text-light bg-info border rounded-lg" asp-action="Filter"
      data-ajax="true"
      data-ajax-method="GET"
      data-ajax-mode="replace"
      data-ajax-update="usersupdate">
    <div class="input-group m-auto">
        <input type="text" name="userName" class="form-control" placeholder="Search Student Name" />
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary "><i class="fa fa-search">&emsp;Search</i></button>
        </div>
    </div>
</form>

<p>@if (User.IsInRole("Teacher"))
{
       <a asp-area="Identity" asp-page="/Account/Register">Register</a>
}
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>@Html.DisplayNameFor(model => model.PhoneNumber)</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody id="usersupdate">
        <partial name="_SystemUsersPartial" />
    </tbody>
</table>