@model IEnumerable<SystemUserViewModel>
<ul class="list-unstyled" id="userlistul">
    @foreach (var user in Model)
    {
        <li>
            @user.Name
            <a asp-controller="Courses" asp-action="AddUserToCourse"
               asp-route-userId="@user.Id"
               asp-route-courseId="@user.CourseId"
               asp-route-action="Index"
               asp-route-controller="Home"
               data-ajax="true"
               data-ajax-method="POST"
               data-ajax-mode="replace"
               data-ajax-update="#systemusersupdate">Add</a>
        </li>
    }
</ul>