@model IEnumerable<SystemUserViewModel>
<ul class="list-unstyled" id="userlistul">
    @foreach (var user in Model)
    {
        <li>
            @user.Name
            <a class="btn btn-success float-right adduserbutton" data-userid="@user.Id" data-courseid="@user.CourseId">Add</a>
        </li>
    }
</ul>