@model IEnumerable<LexiconLMS.Core.Models.Activity>

<p style="padding-left: 10px; font-size: 12px; font-weight: 500; margin: 3px;">Activities</p>
        @{ int i = 1; }
@foreach (var item in Model) {
            <p asp-controller="Module" asp-action="Delete" asp-route-id="@item.Id" id="mainactivitieslist">
                @i.  <a asp-controller="Activity" asp-action="Details" asp-route-id="@item.Id"> @Html.DisplayFor(modelItem => item.Name)</a>
            </p>
    i++;
}