@model ModuleDocumentUploadViewModel

<form enctype="multipart/form-data" asp-controller="Document" asp-action="ModuleDocumentUpload">

    <dl>
        <dt>
            <input asp-for="UserId" type="hidden" />
            <input asp-for="ModuleId" type="hidden" />
        </dt>
        <dt>
            <label asp-for="FormFile"></label>
        </dt>
        <dd>
            <input asp-for="FormFile" type="file">
        </dd>
    </dl>
    <input class="btn btn-primary" type="submit" value="Upload" />

</form>